@charset "utf-8";

$base-line-height: 1.575rem;
$base-font-size: 1.125rem;

@import "magenta";

$serif-fonts: 'Crimson Text', Athelas, Marion, Baskerville, Garamond, Palatino, serif;
$sans-serif-fonts: 'HK Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$colours-light: ("text-highlight": #783f75, "background-normal": #f8f8f8, "text-normal": #222222, "text-lighter": #555555);
$colours-dark: ("text-highlight": #ea7ce4, "background-normal": #2f2f2f, "text-normal": #e8e8e8, "text-lighter": #c8c8c8);

.container {
  @include centered;
  @include responsive-width;
  @include margin-bottom-one;
  @include margin-top-one;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    color: inherit;
}

address { font-style: normal; }
address a { font-style: oblique; }
footer {
  @include font-size-three-quarters;
  @include line-height-two-thirds;
  @include padding-top-two-thirds;
  @include margin-top-two-thirds;
  border-top: 0.79px solid var(--text-normal);
  margin-bottom: 0;
}

article p { @include margin-bottom-one-half; }

p a { @include text-colour-highlight; }


// Citations
cite {
    font-style: normal;
}

/* blockquote + p > cite:first-child::before {
    content: "\2014";
} */

// Headings and other meta
h1 {
  @include font-size-twentyone-twentieths;
  @include line-height-one;
  font-weight: 600;
}

article h1 {
  @include font-size-three-halves;
  @include line-height-three-halves;
  @include margin-bottom-one-half;
  font-weight: 700;
}

h2 {
  @include font-size-six-fifths;
  @include line-height-six-fifths;
}

section.post-listing time {
  @include line-height-four-fifths;
  @include font-size-nine-tenths;
}

section.post-listing {
  @include margin-bottom-two-thirds;
}

time {
  @include light-oblique;
  @include text-colour-lighter;
}

article header time { @include font-size-seven-eighths; }

hr { width: 32%; }

p img { width: 100%; }

blockquote {
    margin-left: 4%;
    margin-right: 4%;
    color: #4c4c4c;
}

p, h1, h2, h3, article, section, header {
  margin: 0;
}

main {
  @include margin-top-two-thirds;
}

body {
    font-family: $sans-serif-fonts;
    font-variant-ligatures: contextual;
    font-variant-numeric: proportional-nums;
    font-kerning: normal;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    @include font-size-one;
    @include line-height-one;
    @include text-colour-normal;
    @include background-colour-normal;
}

:root {
  @include responsive-colours($colours-light, $colours-dark, $colours-light);
}
