@charset "utf-8";

$base-line-height: 1.575rem;
$base-font-size: 1.125rem;

@import "magenta";

$serif-fonts: 'Crimson Text', Athelas, Marion, Baskerville, Garamond, Palatino, serif;
$sans-serif-fonts: 'HK Grotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$colours-light: ("text-highlight": #783f75, "background-normal": #f8f8f8, "background-lighter": #e8e8e8, "text-normal": #222222, "text-lighter": #555555);
$colours-dark: ("text-highlight": #ea7ce4, "background-normal": #2f2f2f, "background-lighter": #4f4f4f, "text-normal": #e8e8e8, "text-lighter": #c8c8c8);

.container {
  @include centered;
  @include responsive-width;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  & > * { flex: none; }
  min-height: 100vh;
  & > header {
    @include margin-top-one;
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

a {
    text-decoration: none;
    @include clickable;
    color: inherit;
}

address { font-style: normal; }
address a { font-style: oblique; }
footer {
  font-size: $base-font-size * 0.8;
  line-height: $base-line-height * 0.75;
  margin-top: auto;
  padding-top: $base-line-height;
  border-top: 0.79px solid var(--text-normal);
  @include margin-bottom-one;
  h2 { font-size: $base-font-size; font-weight: 700; }
  p { margin-top: $base-line-height * 0.25; }
}

article.full p {
  @include margin-bottom-one-half;
  @include font-size-seven-eighths;
}

p.synopsis {
  margin: 0 !important;
  font-size: $base-font-size !important;
}

p a { @include text-colour-highlight; }


/* blockquote + p > cite:first-child::before {
    content: "\2014";
} */

b { @extend .semibold; }
strong { @extend .bold; }

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.oblique {
  font-style: oblique;
}

.slightly-bigger {
  @include font-size-twentyone-twentieths;
  @include line-height-one;
}

.somewhat-smaller {
  @include line-height-four-fifths;
  @include font-size-nine-tenths;
}

.somewhat-bigger {
  @include font-size-six-fifths;
  @include line-height-six-fifths;
}

.distinctly-bigger {
  @include font-size-three-halves;
  @include line-height-three-halves;
}

article.full h2 {
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: $base-font-size * 0.125;
}

article.full:only-child h2 {
  margin-bottom: $base-line-height * 0.5;
}

article.full {
  @include margin-bottom-one;
}

article + article.full {
  @include margin-top-one;
}

article:only-of-type h2 {
  @include font-size-three-halves;
  @include line-height-three-halves;
}

article h2 {
  @extend .somewhat-bigger;
}

article time {
  @extend .somewhat-smaller;
}

article.summary {
  @include margin-bottom-two-thirds;
  h2 { font-weight: 600; }
}

time {
  @extend .light, .oblique;
  @include text-colour-lighter;
}

article header time { @include font-size-seven-eighths; }

article h3 {
  @extend .slightly-bigger;
  font-style: oblique;
  font-weight: 500;
}

cite { font-style: oblique; }

select {
  margin-inline-start: 0.5em;
}

label, select {
  @include line-height-one;
  @include font-size-one;
}

hr { width: 32%; }

p img { width: 100%; }

blockquote {
    margin-left: 4%;
    margin-right: 4%;
    @include text-colour-lighter;
}

p, h1, h2, h3, article, section, header {
  margin: 0;
}

main {
  @include margin-top-two-thirds;
  @include margin-bottom-one;
}

body {
    font-family: $sans-serif-fonts;
    font-variant-ligatures: contextual;
    font-variant-numeric: proportional-nums;
    font-kerning: normal;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    @include font-size-one;
    @include line-height-one;
    @include text-colour-normal;
    @include background-colour-normal;
}

:root {
  @include responsive-colours($colours-light, $colours-dark, $colours-light);
}
