@charset "UTF-8";

$serif-fonts: 'Crimson Text', Athelas, Marion, Baskerville, Garamond, Palatino, serif;
$sans-serif-fonts: 'Avenir Next', Lato, 'Helvetica Neue', sans-serif;

$text-magenta: #783f75;
$background-offwhite: #f8f8f8;
$deepgray: #222222;
$mediumgray: #555555;

html,body,p,dl,dd,ul,ol,li,blockquote,div,main,article,aside,code,pre,header,footer,h1,h2,h3 {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $serif-fonts;
    font-size: 1.1278rem;
    line-height: 1.575rem;
    font-variant-ligatures: contextual;
    font-variant-numeric: proportional-nums;
    font-kerning: normal;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    color: $deepgray;
    background-color: $background-offwhite;
}

// Main content
main {
    margin: 1.575rem auto;
    position: relative;
    max-width: 31rem;
    width: auto;
    @media only screen and (min-width: 0px) {
        width: 93%;
    }
    @media only screen and (min-width: 533px) {
        width: 31rem;
    }
}

.archive-listing {
    margin-top: 2.3625rem;
}

.archive-entry {
    margin-bottom: 0.39375rem;
    @media screen and (min-width: 533px) {
        display: grid;
        grid-template-columns: 1fr 2.3625fr;
        grid-auto-rows: auto;
        grid-column-gap: 0.7875rem;
        .synopsis { grid-column: 2 / 3; }
        .date {
            text-align: right;
            grid-row: 1 / 4;
        }
        .title {
            align-self: end;
        }
    }
    .date {
        line-height: 1.575rem;
    }
    .synopsis {
        font-family: $sans-serif-fonts;
    }
}

p {
    margin-bottom: 0.7875rem;
}

p a, dl a {
    color: $text-magenta;
}

p img {
    width: 100%;
}

blockquote {
    p {
    }
    margin-left: 4%;
    margin-right: 4%;
    color: #4c4c4c;
}

article {
}

article:first-child, .archive-entry:first-child {
    margin-top: 0;
}

header, footer, h1, h2, h3, {
    font-family: $sans-serif-fonts;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    color: inherit;
}


// Citations
cite {
    font-style: normal;
}

p > cite:only-child {
}

/* blockquote + p > cite:first-child::before {
    content: "\2014";
} */


// Headings and other meta
h1 {
    font-size: 1.82025rem;
    line-height: 2.1rem;
    margin-bottom: 0.7rem;
}

h2 {
    font-size: 1.1278rem;
}

.date {
    font-family: $sans-serif-fonts;
    font-style: italic;
    color: $mediumgray;
    font-size: 1.0619rem;
    line-height: 2.1rem;
}

hr {
    width: 32%
}


// Description lists
dt, dd {
    display: inline;
}

dt {
    font-family: $sans-serif-fonts;
    font-weight: 600;
}

dt::after {
    content: ":";
    font-weight: 500;
    position: relative;
    right: 2.3px;
}

