$serif-fonts: Athelas, Marion, Baskerville, Garamond, Palatino, serif;

$sans-serif-fonts: 'Avenir Next', 'Helvetica Neue', sans-serif;

$magenta: #e12dd4;

$deepgray: #222;

$mediumgray: #555;

body {
    font-size: 17px;
    font-variant-ligatures: contextual;
    font-variant-numeric: proportional-nums;
    font-kerning: normal;
    font-synthesis: none;
    background-color: #F8F8F8;
    margin: 0;
}

// Main content
// {{{1
main {
    font-family: $serif-fonts;
    padding: 30px 10%;
    margin: 0px auto;
    position: relative;
    width: 600px;
    color: $deepgray;
}

p, dl {
    line-height: 130%;
}

blockquote {
    p {
        line-height: 120%;
    }
    margin-left: 7%;
    margin-right: 7%;
    color: #474747;
}

article {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
}

article:first-child {
    margin-top: 14px;
}
// }}}1


// Header and footer
// {{{1
header, footer, h1 {
    font-family: $sans-serif-fonts;
}

header, footer {
    font-variant-caps: all-small-caps;
    padding: 12px 3%;
    background-color: $magenta;
    color: #fcfcfc;
}

header {
    font-size: 20px;
    font-weight: 600;
}

footer {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

footer a {
    float: right;
    text-align: right;
}
// }}}1


// Within the header
// {{{1
nav {
    text-align: right;
}

nav a {
    margin-left: 12px;
}

#logo a {
    font-weight: 700;
    float: left;
}

.more a {
     color: $magenta;
}

a {
    text-decoration: none;
    color: inherit;
}
// }}}1


// Footnotes
// {{{1
.footnoteRef {
    margin-left: 2px;
}


.footnotes {
    margin-top: 49px;
}

.footnotes ol {
    padding-left: 13px;
    margin-top: 18px;
}

.footnotes ol li {
    padding-left: 8px;
}

.footnotes ol li a {
    margin-left: 4px;
}
// }}}1


// Asides
// {{{1
aside {
    font-size: 92%;
    width: 267px;
    padding: 2px 22px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 78px;
    color: #E0E0E0;
}

aside blockquote {
    color: #D0D0D0;
}

.left {
    text-align: right;
    position: absolute;
    right: 100%;
}

.right {
    text-align: left;
    position: absolute;
    left: 100%;
}
// }}}1


// Citations
// {{{1
cite {
    font-style: normal;
}

p > cite:only-child {
    font-size: 93%;
    line-height: 93%;
}

/* blockquote + p > cite:first-child::before {
    content: "\2014";
} */
// }}}1


// Headings and other meta
// {{{1
h1 {
    font-size: 24px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid $deepgray;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 39px;
}

.info {
    font-family: $sans-serif-fonts;
    font-size: 15px;
    font-style: italic;
    color: $mediumgray;
}

hr {
    width: 32%
}
// }}}1


// Archive entries
// {{{1
.entry {
    margin-top: 4em;
}

.entry:first-child {
    margin-top: 0;
}
// }}}1


// Formatting
// {{{1
code {
    font-size: 77%;
}

strong {
}

.big {
    font-size: 121%;
    font-weight: 600;
    font-variant-caps: small-caps;
    text-align: center;
}
// }}}1


// Description lists
// {{{1
dt, dd {
    display: inline;
}

dt {
    font-family: $sans-serif-fonts;
    font-weight: 600;
}

dt::after {
    content: ":";
    font-weight: 500;
    position: relative;
    right: 2.3px;
}

dd {
    margin-left: 0;
}
// }}}1
